<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Database Alumni JIP Unpad</title>

  </head>

<body>
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <img src = '{% static 'img/alumnijip.png' %}' width="40" height="40" alt="Logo alumni" >
    <h3>DB Alumni</h3> <i>(Versi pengembangan, data fiktif, by K1D92123)</i>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class="nav-item ">
        <a class="nav-link " href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="{% url 'alumni' %}">DB Alumni</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="{% url 'list_berita' %}">Berita</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'list_artikel' %}">Artikel</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="{% url 'list_resensi' %}"> Resensi</a>
      </li>

           <li class="nav-item">
        <a class="nav-link " href="{% url 'list_loker' %}">Loker</a>
      </li>

       <li class="nav-item">
        <a class="nav-link" href="#">Galeri</a>
      </li>


{% if user.is_authenticated %}

<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <b> {{ user.first_name }} {{ user.last_name }} </b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'profile' %}">Edit profil</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'berita' %}">Kirim berita</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'artikel' %}">Kirim artikel</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'resensi' %}">Buat resensi buku</a>
        <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'loker' %}">Info lowongan kerja</a>
        <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'isi_survei' %}">Isi survei alumni</a>
    </div>



      </li>
<a href="{% url 'logout' %}" class="nav-item nav-link"><b>Logout</button></b></a>
{% else %}
                    <a href="{% url 'login' %}" class="nav-item nav-link"><b>Login/Daftar</b></a>
                  {% endif %}
    </ul>

  </div>
</nav>


   {% block content %}
   {% endblock %}



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>