<!-- Display paginated items -->
{% extends 'base.html' %}
{% block title %}Daftar alumni{% endblock%}
{% block content %}
<center>
    <table style="width: auto" class="table table-striped">
    <tr bgcolor='lightgrey'>
        <td><b>Nama</b></td>
        <td><b>Angkatan</b></td>
    </tr>
    <tr>
    {% for item in page %}

    <td>{{ item.user.first_name }}</td>
    <td>{{ item.user.last_name }}</td>
    </tr>
{% endfor %}

 </table>
<!-- Generate pagination links -->
<br>

    {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}"> << previous .. </a>
    {% endif %}

    <span class="current-page"> {{ page.number }}</span>

    {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}"> .. next >> </a>
    {% endif %}
</div>
</center>
{% endblock %}